h1 {
	text-align: center
}

input, button {
 	background-color: #04AA6D;
 	border: medium;
	border-style: solid;
	border-color: black;
 	color: white;
 	padding: 16px 32px;
 	text-decoration: none;
 	margin: 4px 2px;
 	cursor: pointer;
	text-color: white;
	display: block;
}

a:after {
	content:"\a";
	white-space: pre;
}

body {
	background-color: chocolate;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

article {
	border: medium;
	border-color: black;
	background-color: white;
	border-style: solid;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.downlinks {
	color: black;
	text-decoration: none;
}
