body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: blanchedalmond;
  margin-top: 55px;
  padding-left: 0%;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  text-indent: 0%;
}

h4 {
  text-indent: 0%;
  text-align: right;
}

h6 {
  text-align: center;
}

.rick:before {
  color: grey;
}
.rick:after {
  color: grey;
}

.side1 {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  text-align: left;
  text-indent: 45px;
  width: 30%;
  border: 1px solid black;
  border-color: black;
  background-color: whitesmoke;
  border-radius: 10px;
  padding-bottom: 7px;
  display: inline-block;
}


.banner {
  text-align: center;
  margin: auto;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  padding-bottom: 7px;
  width: 90%
}

.change {
  padding-top: 0%;
  color: grey;
}

.mainh {
  padding-bottom: 0%;
  text-align: center;
}

hr {
  float: center;
  width: 500px;
}

.mainc {
  display: inline-block;
  float: right;
  text-indent: 45px;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4px;
  padding-bottom: 7px;
  width: 64%
}

.nav {
  margin: 0%;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a:link {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:visited {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover {
  background: #ddd;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: underline;
}

a:active {
  color: darkgreen;
}


.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}